@import "./variables";

.footer {
  background-color: $olive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;

  .title {
    text-align: center;
    color: white;
    font-weight: 700;
  }
}
